body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 210px;
}

.text-label {
  font-weight: 300;
  font-size: 16px;
}

.text-label span {
  font-size: 13px;
}

a {
  color: inherit;
}

p {
  align-items: center;
  display: flex;
  margin: 5px 0;
}

.info {
  margin: 0;
  margin-bottom: 10px;
}

input[type=text] {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  display: block;
  width: calc(100% - 40px);
  font-size: 14px;
  flex-basis: 100%;
  padding: 5px;
}

input[type=text]::after {
  content: '\01F601';
}

input[type=text]:valid {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(158,219,174,1);
}

input.success {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='0' y='16'>\02705</text></svg>");
  background-position: right 5px center;
  background-repeat: no-repeat;
  padding-right: 28px;
  text-overflow: ellipsis;
}

.show-domain + label {
  cursor: pointer;
}

.show-domain ~ div,
.show-domain:checked,
.show-domain:checked + label {
  display: none;
}
.show-domain:checked ~ div {
  display: block;
}

button {
  border: none;
  background: none;
  box-sizing: border-box;
  min-width: 40px;
  flex-basis: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: inherit;
  text-decoration: underline;
}