body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 210px;
}

a {
  color: inherit;
}

p {
  align-items: center;
  margin: 5px 0;
}

.github-credentials,
.gitlab-credentials {
  display: none;
}
input[type=radio],
input[type=radio] + label {
  cursor: pointer;
}
.radio-github:checked ~ .github-credentials {
  display: block;
}
.radio-gitlab:checked ~ .gitlab-credentials {
  display: block;
}

.text-label {
  display: block;
  font-weight: 300;
  font-size: 12px;
}

.info {
  margin: 0;
}

.text-field {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  width: calc(100% - 40px);
  font-size: 14px;
  flex-basis: 100%;
  padding: 5px;
}

.text-field::after {
  content: '\01F601';
}

.success {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='0' y='16'>\02705</text></svg>");
  background-position: right 5px center;
  background-repeat: no-repeat;
  padding-right: 28px;
  text-overflow: ellipsis;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin-left: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: inherit;
  text-decoration: underline;
}