:root {
  --margin: 3px;
}

.lrwr-changes {
  margin-left: var(--margin);
}

.lrwr-changes::before {
  content: '[';
}
.lrwr-changes::after {
  content: ']';
}

.lrwr-added {
  color: #4a2;
  margin-right: var(--margin);
}

.lrwr-removed {
  color: #d12f19;
}

.lrwr-sort-link[disabled] {
  color: #ddd;
  pointer-events: none;
}