:root {
  --margin: 3px;
}

.lrwr-changes {
  margin-left: var(--margin);
}

.lrwr-changes::before {
  content: '[';
}
.lrwr-changes::after {
  content: ']';
}

.lrwr-added {
  color: #4a2;
  margin-right: var(--margin);
}

.lrwr-removed {
  color: #d12f19;
}

.lrwr-sort-link[disabled] {
  color: #ddd;
  pointer-events: none;
}

.lrwr-notification {
  position: fixed;
  top: 20px;
  right: -200px;

  width: 200px;
  margin: 10px;
  padding: 10px 10px 10px 36px;

  color: #fff;
  border: 1px solid #f14444;
  border-radius: 10px;
  background: #ffc6c6 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='0' y='16'>\026D4</text></svg>") no-repeat 10px 50%;
  background-color: #e46868;
  border-color: #ea5c5c;

  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13.3px;

  transform: translateX(-220px);
  transition: transform 600ms;
  will-change: transform;
}

.lrwr-notification > p {
  margin: 0;
  font-weight: bold;
}
